#
# Copyright (c) 2019, Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#

version: 2.1

orbs:
  slack: circleci/slack@3.4.2

executors:
  daml-executor:
    docker:
      - image: cimg/openjdk:11.0-node
  mvn-executor:
    docker:
      - image: cimg/openjdk:11.0

commands:
  install_sdk:
    description: "Install Daml SDK"
    parameters:
      version:
        type: string
    steps:
      - run:
          name: Install Daml SDK
          command: |
            curl -sSL https://get.daml.com/ | sh /dev/stdin << parameters.version >>
            # idea from https://circleci.com/docs/2.0/env-vars/
            >> $BASH_ENV echo 'export PATH="$HOME/.daml/bin:$PATH"'
  slack_notification:
    description: "Notify about failure on Slack"
    steps:
      - slack/status:
          fail_only: true
          only_for_branches: master
          webhook: '${SLACK_WEBHOOK}'
  install_bitcoin:
    description: "Install the Bitcoin CLI tools"
    parameters:
      version:
        type: string
    steps:
      - run:
          command: |
            scripts/install-bitcoin.sh << parameters.version >>
            # idea from https://circleci.com/docs/2.0/env-vars/
            >> $BASH_ENV echo 'export PATH="$HOME/.bitcoin/bitcoin-<< parameters.version >>/bin:$PATH"'

jobs:
  daml_test:
    parameters:
      daml_sdk_version:
        type: string
    docker:
      - image: digitalasset/daml-sdk:<< parameters.daml_sdk_version >>
    steps:
      - checkout
      - run:
          name: Build Daml
          command: |
            daml build
      - run:
          name: Daml tests
          command: |
            daml test --junit target/daml-test-reports/model.xml
      - store_test_results:
          path: target/daml-test-reports
      - store_artifacts:
          path: target/daml-test-reports
      - slack_notification

  integration_test:
    parameters:
      daml_sdk_version:
        type: string
      bitcoin_cli_version:
        type: string
    executor: mvn-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
            - m2
      - install_sdk:
          version: << parameters.daml_sdk_version >>
      - install_bitcoin:
          version: << parameters.bitcoin_cli_version >>
      - run:
          name: Integration tests
          command: |
            mvn verify
      - run:
          command: |
            echo "Moving log files so they can be stored."
            mkdir -p logs
            mv *.log logs
          when: always
      - store_artifacts:
          path: logs
      - save_cache:
          paths:
            - ~/.m2
            - ~/.daml
          key: m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
      - store_test_results:
          path: target/failsafe-reports
      - store_artifacts:
          path: target/failsafe-reports
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/surefire-reports
      - run:
          command: |
            mkdir -p logs
            mv target/pmd.xml logs
          when: always
      - persist_to_workspace:
          root: target
          paths:
            - "*.jar"
            - "*.dar"
            - "lib"
            - "NOTICE"
      - slack_notification

  blackduck_check:
    parameters:
      daml_sdk_version:
        type: string
    executor: daml-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
            - m2
      - install_sdk:
          version: << parameters.daml_sdk_version >>
      - save_cache:
          paths:
            - ~/.m2
            - ~/.daml
          key: m2-{{ checksum "pom.xml" }}-{{ checksum "daml.yaml" }}
      - run:
          name: Maven build
          command: |
            mvn clean package
      - run:
          name: Blackduck detect
          command: |
            bash <(curl -s https://raw.githubusercontent.com/DACH-NY/security-blackduck/master/synopsys-detect) ci-build digitalasset_ex-inventory-management master \
            --logging.level.com.synopsys.integration=DEBUG \
            --detect.notices.report=true \
            --detect.timeout=3600
      - run:
          command: cp digitalasset_ex_inventory_management_master_Black_Duck_Notices_Report.txt NOTICE
      - persist_to_workspace:
          root: .
          paths:
            - "NOTICE"
      - slack_notification

workflows:
  version: 2
  test:
    jobs:
      - daml_test:
          daml_sdk_version: "1.11.1"
          context: refapps
      - integration_test:
          daml_sdk_version: "1.11.1"
          bitcoin_cli_version: "0.18.1"
          context: refapps
  scheduled_test:
    triggers:
      - schedule:
          # need to scatter jobs to reduce Blackduck load
          # see also https://digitalasset.atlassian.net/browse/ERA-913
          cron: "0 3 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - daml_test:
          daml_sdk_version: "1.11.1"
          context: refapps
      - integration_test:
          daml_sdk_version: "1.11.1"
          bitcoin_cli_version: "0.18.1"
          context: refapps
      - blackduck_check:
          daml_sdk_version: "1.11.1"
          context:
            - blackduck
            - refapps
